.roboto {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

.card {
	overflow: hidden;
	max-height: none;
	transition: max-height 0.3s ease-in-out;
}

.details {
	display: none;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	height: 0;
}


.card-1 {
	position: relative;
}

.year-badge {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #d5dce4;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.card-2 {
	position: relative;
}

.year-badge-top-right {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #d5dce4;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-badge-bottom-right {
	position: absolute;
	bottom: -10px;
	right: -10px;
	background-color: #efeeee;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-badge-bottom-left {
	position: absolute;
	bottom: -10px;
	left: -10px;
	background-color: #efeeee;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-line {
	position: absolute;
	width: 4px;
	background-color: #555;
	top: 10px;
	bottom: 10px;
	right: 10px;
	z-index: 998;
}

.year-line-left {
	position: absolute;
	width: 4px;
	background-color: #555;
	top: 10px;
	bottom: 10px;
	left: 10px;
	z-index: 998;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.btn {
	font-family: "Roboto", serif;
}

.navbar li:hover {
	font-weight: 600;
}

.navbar-brand {
	font-weight: bold;
}

.footer {
	background: #efeeee;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

.bg-light {
	background-color: #d5dce4 !important;
}

.social-icons svg {
	width: 30px;
	height: 30px;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(212, 195, 161, 0.1);
}

.container {
	flex: 1;
}

.carousel-item img {
	height: 400px;
	object-fit: cover;
}

@media (min-width: 992px) {
	/*.con-index {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
		flex-direction: column;
	}*/

	.carousel {
		width: 100%;
	}

	.card-1 {
		margin-left: 25%;
	}

	.card-2 {
		margin-left: 45%;
	}
}

@media (min-width: 2001px) {
	.carousel-item img {
		height: 800px;
		object-fit: cover;
	}

	/* .big-s {
		display: flex !important;
		align-items: center !important;
	}

	.con-index {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		text-align: center;
	} */
}

.skill-bar {
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
}

.skill-level {
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: white;
	font-weight: bold;
	animation: fillBar 2s ease-in-out forwards;
}

@keyframes fillBar {
	from {
		width: 0;
	}

	to {
		width: var(--skill-width);
	}
}

.timeline {
	position: relative;
	max-width: 800px;
	margin: auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 4px;
	background-color: #ddd;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
}

.timeline-item {
	position: relative;
	background-color: inherit;
	width: 50%;
	padding: 10px 20px;
	cursor: pointer;
}

.timeline-item:nth-child(odd) {
	left: 0;
	text-align: right;
}

.timeline-item:nth-child(even) {
	left: 50%;
}

.timeline-item::after {
	display: none;
}

.timeline-content {
	display: none;
	background: #f8f9fa;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-yellow {
	background-color: yellow;
}

.shadow {
	box-shadow: black;
}

.text-justify {
	text-align: justify;
}

.btn {
	/* background-color: #d4c3a1; */
	/* background-color: #efeeee; */
	background-color: #d5dce4;
	border: none;
}

.btn:hover {
	/* background-color: #efeeee; */
	background-color: #d9e2ec;
	/* background-color: #bdad8d; */
	border: none;
}

#backToTop {
	position: fixed;
	bottom: 60px;
	right: 20px;
	cursor: pointer;
	display: none;
	z-index: 1000;
}

.card:hover {
	transform: scale(1.05);
}

@media (max-width: 768px) {
	.col-bot {
		margin-bottom: 15px;
	}

	.typed-cursor {
		font-size: inherit;
		color: inherit;
		display: inline;
		font-size: large !important;
	}

	#element {
		font-size: large !important;
		font-weight: 600;
	}

	#backToTop {
		position: fixed;
		bottom: 20px;
		right: 40px;
		z-index: 1000;
	}
}

.st3 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFFFFF;
}

.typed-cursor {
	font-size: inherit;
	color: inherit;
	display: inline;
	font-size: xx-large;
}

#element-container {
	display: inline-block;
}

#element {
	font-size: xx-large;
	font-weight: 600;
}

.separator {
	width: 1px;
	background-color: gray;
	height: 30px;
	margin: auto 10px;
}

body.dark-mode {
	background-color: rgb(84, 97, 100);
	/* background-color: rgb(68, 68, 68, 0.7); */
	color: rgb(248, 242, 229);
}

.bg-mode {
	background-color: rgb(50, 72, 78) !important;
}

body.dark-mode .navbar-nav li,
body.dark-mode .navbar-nav a,
body.dark-mode .cv-btn,
body.dark-mode .cv-btn:hover {
	color: rgb(248, 242, 229) !important;
}

body.dark-mode .card, body.dark-mode input, body.dark-mode textarea{
	background-color: rgb(248, 242, 229);
}

body.dark-mode .nav-link:hover {
	color: rgba(255, 242, 216, 0.8) !important;
}

body.dark-mode .footer {
	background-color: rgb(50, 72, 78, 0.7) !important;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

body.dark-mode .navbar-toggler-icon {
	filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(250%) hue-rotate(10deg) brightness(95%) contrast(90%);
}

body.dark-mode .navbar-toggler {
	border: 1px solid rgb(248, 242, 229);
	/* Cambia solo il bordo */
}


body.dark-mode #whatsapp svg,
body.dark-mode #linkedin svg,
body.dark-mode #github svg {
	fill: #f8f2e5;
}

#whatsapp svg {
	fill: rgb(0, 215, 87, 0.7);
}

#linkedin svg {
	fill: hsl(210, 91%, 40%, 0.7);
}

#github svg {
	fill: hsla(214, 8%, 17%, 0.7);
}

body.dark-mode .navbar {
	background-color: rgb(50, 72, 78) !important;
	/* Usa il colore della classe bg-mode */
}

body.dark-mode .offcanvas {
	background-color: rgb(50, 72, 78) !important;
	/* Cambia lo sfondo del menu mobile */
}

body.dark-mode .btn {
	/* background-color: #d4c3a1; */
	/* background-color: #efeeee; */
	background-color: rgb(50, 72, 78);
	border: none;
}

body.dark-mode .btn:hover {
	background-color: rgb(50, 72, 78, 0.7);
	/* background-color: #d5dce4; */
	/* background-color: #bdad8d; */
	border: none;
}

body.dark-mode .year-line {
	position: absolute;
	width: 4px;
	background-color: rgb(50, 72, 78);
	top: 10px;
	bottom: 10px;
	right: 10px;
	z-index: 998;
}

body.dark-mode .year-line-left {
	position: absolute;
	width: 4px;
	background-color: rgb(50, 72, 78);
	top: 10px;
	bottom: 10px;
	left: 10px;
	z-index: 998;
}

.text-desc {
	color: #0D6EFD;
}

body.dark-mode .text-desc {
	color: #f8f2e5;
}

.cv-btn, .cv-btn:hover{
	color: #424242;
}