.roboto {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

.card {
	overflow: hidden;
	/* Se il contenuto esce dalla card */
	max-height: none;
	/* Rimuovi eventuali limiti di altezza se presenti */
	transition: max-height 0.3s ease-in-out;
	/* Anima l'altezza per l'effetto di espansione */
}

.details {
	display: none;
	/* Per default nascondi il contenuto */
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	/* Aggiungi una transizione per un'animazione fluida */
	height: 0;
	/* Imposta un'altezza di 0 per nascondere il contenuto */
}


.card-1 {
	position: relative;
}

.year-badge {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #d5dce4;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.card-2 {
	position: relative;
}

.year-badge-top-right {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #d5dce4;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-badge-bottom-right {
	position: absolute;
	bottom: -10px;
	right: -10px;
	background-color: #efeeee;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-badge-bottom-left {
	position: absolute;
	bottom: -10px;
	left: -10px;
	background-color: #efeeee;
	color: #424242;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.year-line {
	position: absolute;
	width: 4px;
	background-color: #555;
	top: 10px;
	bottom: 10px;
	right: 10px;
	z-index: 998;
}

.year-line-left {
	position: absolute;
	width: 4px;
	background-color: #555;
	top: 10px;
	bottom: 10px;
	left: 10px;
	z-index: 998;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: "Roboto", serif;
}

.navbar li:hover {
	font-weight: 600;
}

.navbar-brand {
	font-weight: bold;
}

.footer {
	background: #efeeee;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

.bg-light {
	background-color: #d5dce4 !important;
}

.social-icons svg {
	width: 30px;
	height: 30px;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(212, 195, 161, 0.1);
}

.container {
	flex: 1;
}

.carousel-item img {
	height: 400px;
	object-fit: cover;
}

@media (min-width: 992px) {
	/*.con-index {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
		flex-direction: column;
	}*/

	.carousel {
		width: 100%;
	}

	.card-1 {
		margin-left: 25%;
	}

	.card-2 {
		margin-left: 45%;
	}
}

@media (min-width: 2001px) {
	.carousel-item img {
		height: 800px;
		object-fit: cover;
	}

	.big-s {
		display: flex !important;
		align-items: center !important;
	}
}

.skill-bar {
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
}

.skill-level {
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: white;
	font-weight: bold;
	animation: fillBar 2s ease-in-out forwards;
}

@keyframes fillBar {
	from {
		width: 0;
	}

	to {
		width: var(--skill-width);
	}
}

.timeline {
	position: relative;
	max-width: 800px;
	margin: auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 4px;
	background-color: #ddd;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
}

.timeline-item {
	position: relative;
	background-color: inherit;
	width: 50%;
	padding: 10px 20px;
	cursor: pointer;
}

.timeline-item:nth-child(odd) {
	left: 0;
	text-align: right;
}

.timeline-item:nth-child(even) {
	left: 50%;
}

.timeline-item::after {
	display: none;
}

.timeline-content {
	display: none;
	background: #f8f9fa;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-yellow {
	background-color: yellow;
}

.shadow {
	box-shadow: black;
}

.text-justify {
	text-align: justify;
}

.btn {
	/* background-color: #d4c3a1; */
	/* background-color: #efeeee; */
	background-color: #d5dce4;
	border: none;
}

.btn:hover {
	background-color: #efeeee;
	/* background-color: #d5dce4; */
	/* background-color: #bdad8d; */
	border: none;
}

#backToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	display: none;
	/* Nasconde inizialmente */
	z-index: 1000;
	/* Assicura che sia sopra gli altri elementi */
}

.card:hover {
	transform: scale(1.05);
}

@media (max-width: 768px) {
	.col-bot {
		margin-bottom: 15px;
	}
}